
:root {

}

body {
    margin: 0 auto 0;
}

#table-container {
    margin: 5vh auto 0;
    width: fit-content;
    background-color: transparent;
}

#query-form {
    width: 100%;
    height: 200px;
    background-color: cadetblue;
    border-radius: 10px;
}

#laptops-table {
    width: 60vw;
    padding: 0px;
    border-radius: 20px;
    overflow: hidden;
}

#laptops-table caption {
    font-family: "DejaVu Serif Condensed";
    font-weight: bold;
    font-size: 20pt;
    padding: 10px;
}

#laptops-thead th {
    border: 1px solid #3767a7;
    border-bottom: 0px;
    border-radius: 4px 4px 0px 0px;
    width: 100px;
    height: 50px;
    background-color: cadetblue;
    padding: 0px;
    margin: 0px;

}

#laptops-tbody td {
    border: 1px solid #3767a7;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
