<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/laptop.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/papaparse.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/laptop.js') }}"></script>
    <title>Laptops</title>
</head>
<body>
    <div id="table-container">
        <form id="query-form">

        </form>

        <table id="laptops-table">
            <caption>Laptop Prices</caption>
            <thead id="laptops-thead">
            <th scope="col">PID</th>
            <th scope="col">Brand</th>
            <th scope="col">Screen Size</th>
            <th scope="col">RAM</th>
            <th scope="col">Processor</th>
            <th scope="col">GPU</th>
            <th scope="col">Price</th>
            </thead>
            <tbody id="laptops-tbody"></tbody>
        </table>
    </div>
</body>
</html>