<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/laptop.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/papaparse.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/laptop.js') }}"></script>
    <title>Laptops</title>
</head>
<body>
    <div id="data-container">
        <div id="query-form">
            <ul>
                <li><button id="get-avg" onclick="getAvg()">Avg</button></li>
                <li><button id="get-variance" onclick="getVariance()">Variance</button></li>
            </ul>
        </div>
        <div id="query-result">
            <ul>
                <li id="avg-result">Avg : ?</li>
                <li id="variance-result">Variance : ?</li>
            </ul>
        </div>

        <div id="laptops-table-container">
            <table id="laptops-table">
                <caption>Laptop Prices</caption>
                <thead id="laptops-thead">
                <th scope="col">PID</th>
                <th scope="col">Brand</th>
                <th scope="col">Screen Size</th>
                <th scope="col">RAM</th>
                <th scope="col">Processor</th>
                <th scope="col">GPU</th>
                <th scope="col">Price</th>
                </thead>
                <tbody id="laptops-tbody"></tbody>
            </table>
            <div id="laptops-table-loading">Loading...</div>
        </div>
    </div>
</body>
</html>